body {
    background-color: #DDD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.switch {
    -webkit-appearance: none;
    appearance: none;
    background-color: #EEE;
    width: 300px;
    height: 150px;
    border-radius: 100px;
    border: 1px solid gray;
    position: relative;
    transition: 0.2s;
    outline: none;
}

.switch:checked {
    background-color: mediumseagreen;
    border: 1px solid #0a8842;
}

.switch:before {
    content: ' ';
    width: 148px;
    height: 148px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    transition: 0.2s
}

.switch:checked:before {
    left: auto;
    right: 0;
}